.bg-dark {
	background-color: #1d0f84!important
}

.bg-light {
	background-color: #7accff!important
}

.btn-primary {
	background-color: #8981b0;
	border-color: #8981b0
}

.btn-primary:hover {
	background-color: #53489a;
	border-color: #53489a;
}

.navbar-dark a.navbar-brand {
	font-family: 'Kalam', cursive;
}

h1 {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.navbar-dark .navbar-nav .nav-link {
	color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 1.0);
}

