{% extends "./user_base.html" %}

{% load statistics_extras %}

{% block title %}Statistics -- {{ user.username }} -- nattracker{% endblock %}

{% block heading %}Your Statistics{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-10">
        <h2>Most frequent negative thoughts</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
<table class="table">
    <tr>
        <th>Thought</th> <th>Frequency</th> <th>Most Frequent Emotion</th>    <th>Most Frequent Response</th>
    </tr>
    {% if most_frequent_negative_thoughts_list|length > 0 %}
    {% for thought in most_frequent_negative_thoughts_list %}
    <tr>
        <td>{{ thought }}</td>
        <td>{{ thought_freq_dict|get_item:thought }}</td>
        <td>{{ thought_emotion_dict|get_item:thought }}</td>
        <td>{{ thought_response_dict|get_item:thought }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4">
            No negative thoughts to show.
        </td>
    </tr>
    {% endif %}
</table>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
<h3>Most effective positive challenges</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-10">
<table class="table">
    <tr>
        <th>Negative Thought</th>    <th>Negative Emotion</th>    <th>Positive Challenge</th> <th>Efficacy</th>
    </tr>
    {% if most_effective_positive_challenges_list|length > 0 %}
    {% for thought in most_effective_positive_challenges_list %}
    <tr>
        <td>{{ thought }}</td>
        <td>{{ thought_emotion_dict|get_item:thought }}</td>
        <td>{{ thought_challenge_dict|get_item:thought }}</td>
        <td>{{ thought_challenge_eff_dict|get_item:thought }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="4">
            No negative thoughts to show with effective positive challenges.
        </td>
    </tr>
    {% endif %}
</table>
    </div>
</div>
{% endblock %}